<h1>Dictionary App</h1>

<p>Welcome to your word database.</p>

<%= link_to "All words", words_path %>
<%= link_to "Words with pending meanings", words_path(meaning_status: "pending") %>
<%= link_to "Add new words", new_word_path %>
