<h1>Words</h1>

<%= render "links" %>

<% if @words.any? %>
  <ul class="words-list">
    <% @words.each do |word| %>
      <li class="words-list__item">
        <strong><%= word.text %></strong>

        <div class="words-list__actions">
          <%= link_to "Show", word_path(word) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No words found.</p>
<% end %>
